body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    text-align: left;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}


form {
    max-width: 600px;
    margin: 0 auto;
}


button:hover {
    background-color: #0056b3;
}

video {
    display: block;
    margin: 20px auto;
    max-width: 500px;
}

.video-container {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group-radio {
    margin-bottom: 15px;
    display: flex;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: #007bff;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: #007bff;
    width: 20px;
    height: 20px;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: 2px solid #007bff;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #003f7f;
}

.paragraf {
    text-align: center;
}